<div class="row text-center"><h1>Add New Product</h1></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= form_tag products_path, method: :post do %>
      <div class="form-group">
        <label for="email">Name:</label>
       <%= text_field_tag :name,nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="email">Price:</label>
       <%= text_field_tag :price, nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="email">Description:</label>
       <%= text_area_tag :description,nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="email">Weight:</label>
       <%= text_area_tag :weight, nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
